/coverage
/doc
/tmp
/pkg
gir_ffi*.gem
*.rbc
hs_err_pid*.log
core
Gemfile.lock
/test/lib/.deps
/test/lib/.libs
/test/lib/Makefile
/test/lib/Makefile.in
/test/lib/*.gir
/test/lib/*.typelib
/test/lib/autom4te.cache
/test/lib/aclocal.m4
/test/lib/config.*
/test/lib/compile
/test/lib/configure
/test/lib/depcomp
/test/lib/install-sh
/test/lib/*.so
/test/lib/*.la
/test/lib/*.lo
/test/lib/*.o
/test/lib/libtool
/test/lib/ltmain.sh
/test/lib/m4/libtool.m4
/test/lib/m4/lt*.m4
/test/lib/missing

